#container {
	background: white;
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%;
	padding-top: 4%;
	padding-left: 5%;
	width: 40%;
	border: 2px solid #33ADFF;
	border-radius: 15px;
}
body {
	background: #33ADFF;
}
.labels {
	font-size: 20px;
	display: block;
	margin-bottom: 10%;
}
input[type=submit],a {
text-align: center;
	display: block;
	background: #0099FF;
	color: white;
	width: 42%;
	height: 35px;
	border-radius: 5px;
	white-space: nowrap;
	margin-bottom: 5%;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 20%;
}
#logout-bar {
	padding: 5px;
	background: white;
	color: #33ADFF;
	font-size: 20px;
	
}
#logout-bar a{
 background: white;
 margin: 0%;
 width: 23%;
 height: 5px;

 }